html,
body {
  width: 100%;
  height: 100%;
  font-size: 100px;
  background: #f5f5f5 !important;
}
img {
  width: 100%;
  display: block;
}
* {
  margin: 0;
  padding: 0;
}
#app {
  width: 100%;
  height: 100%;
}
.header-icon {
  text-align: center;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background-color: #ee9b11;
  font-size: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.header-icon i {
  position: absolute;
  right: 18px;
  top: 16px;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
.wrap {
  width: auto;
  height: 10rem;
  overflow-y: auto;
}
.wrap::-webkit-scrollbar {
  display: none;
}
